.track-summary {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    color: white;
}

.track-summary__album-art-container {
    flex: 1 1 100%;
    max-width: 25%;
}

.track-summary__info {
    flex: 1 1 100%;
    max-width: 75%;
    padding-left: .5rem;
}

.track-summary__title a,
.track-summary__artists a,
.track-summary__album,
ul.comma-separated li {
    color: white;
}

.track-summary__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}